
*{padding: 0;margin: 0;box-sizing: border-box; font-family: 'Dancing Script', cursive;font-family: 'Quicksand', sans-serif;}
:root{
    --primary-color:#b46e3c;
    --secondary-color:#0f1722;
}

@media only screen and (max-width: 600px) {
    .c-navbar {
      width: 80%;
    }
    .t-ul{
        --row-gap:2rem!important
    }
  }
.z-index{
    z-index: 11!important;
}
.s-border::before{
    content: "";
    position: absolute;
    left: 0;
    
    height: 80%;
    width: 5px;
    background-color: var(--primary-color);
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.prim-color{
    color:var(--primary-color) ;
}
.bg-primary{
    background-color: var(--primary-color)!important;
}
.bg-secondary{
    background-color: var(--secondary-color)!important;
}
.text-grey{
    color: rgb(153 153 161)!important;
}
.fs-7{
    font-size: 14px!important;
}
.b-border::before{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--primary-color);
    width: 5px;
    height: 100%;
    top: 0;
    left:-10px;
    

}
.section{
    background-color: #f9f9f9;
    margin: 60px 0;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
    width: 100%;
}
.home-bg{
    background-color: var(--secondary-color)!important;
    height: 100vh;
}
.title{
    font-size: 50px;

}
.home-blob::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/src/images/blob.svg);
   
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.social-icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.social-icon-child{

}
.social-icon-img{
    height: 20px;
    width: 20px;
}
.social-icon-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.con-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* .ball{
    animation: animName 10s linear infinite;
    animation: animName 10s linear infinite;
    position: absolute;
    right: 0;
} */
/* @keyframes animName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   } */
   

.c-btn a{
    background: var(--primary-color);
    color: white!important;
    padding: 16px 30px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    border-radius: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
    
}

.c-btn .icon{
    background: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.c-btn .icon i{

}

/* ------------------navbar---------------- */
.c-navbar{
    justify-content: space-between;
    display: flex;
    gap: 20px;
    position: fixed;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    padding: 10px 20px;
    z-index: 11;
    
}
.c-navbar div{
background-color: black;
border-radius: 50%;
transition: 0.3s;

}
.c-navbar div:hover{
    background-color: var(--primary-color);
    cursor: pointer;
  
}
.c-navbar div img{
    height: 40px;
    width: 40px;
    padding: 11px;
}
/* ------------------navbar-end---------------- */

/* ---------about----------- */
.about-card{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:center;
}
.about-card-child{
    background: var(--primary-color);
    color: white;
    text-align: center;
    flex: 1 0 20%;
    padding: 40px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25), 6px 6px 4px rgba(0,0,0,.25);
}
.about-card-img{
    border-radius: 50%;
    background: var(--secondary-color);
    height: 120px;
    width: 120px;
    margin: auto;
    padding: 25px;

}
.about-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* ---------about-end----------- */
/* -----------skills------ */
.progress, .progress-stacked{
    height: 0.6rem!important;
}
.progress-bar{
    background-color: var(--primary-color)!important;
}
/* -----------skills-end------ */


/* -----------portfolio------ */
.portfolio-blob{
    position: absolute;
    width: 76%;
    height: 100%;
    background-color: transparent;
    border: 10px solid var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.slick-slide img{
    height: 100%;
    width: 100%;

}
.slick-slide{
    padding: 20px;
}
.slick-active.slick-center.slick-current{
    padding: 0;
}
.center-img div img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.v-btn a{
    background: var(--secondary-color);
    color: white!important;
    padding: 16px 30px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    border-radius: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    
}
.v-btn .icon{
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 3px; */
}
.v-btn .icon i{
color: black;
}
/* -----------portfolio-end------ */

/* ---------------education---------- */
.t-ul {
    --col-gap: 2rem;
    --row-gap: 10rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  .t-ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  .t-ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  .t-ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  /* date */
  .t-ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--primary-color);
  
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  .t-ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--primary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  .t-ul li .date::after {
    content: "";
    position: absolute;
    width: 1.2rem;
    aspect-ratio: 1;
    background: white;
    border: 0.2rem solid
    var(--primary-color);
    border-radius: 50%;
    top: 50%;
    transform:
    translate(50%, -50%);
    right:
    calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  .t-ul li .title,
  .t-ul li .descr {
    background: white;
    position: relative;
    padding-inline: 1.5rem;
  }
  .t-ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
    font-size: 18px;
  }
  .t-ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  .t-ul li .title::before,
  .t-ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    /* background: rgba(0, 0, 0, 0.5); */
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  .t-ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  .t-ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    .t-ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    .t-ul::before {
      grid-column: 2;
    }
    .t-ul li:nth-child(odd) {
      grid-column: 1;
    }
    .t-ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    .t-ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    .t-ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    .t-ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    .t-ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
